<div class="container mt-3 col-6">
    <div class="col-7">
        <form action="/" method="POST">
         <select class="form-select" aria-label="Default select example" name="selectedCategory" onchange="this.form.submit()">
            {{#if selectedCategory}}
            <option value="{{selectedCategory._id}}" selected>{{selectedCategory.name}}</option>
            <option value="">全部類別</option>
            {{#each notSelectedCategories}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}



            
            
            {{else}}
            
            <option selected>全部類別</option>
            {{#each categories}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
            {{/if}}
        </select>
        </form>
       
    </div>
    <div class="row d-flex justify-content-center">
        <div class="mt-4">
            <h6>總金額：</h6>
        </div>
        <div class="col-2">
            <h1>{{ totalAmount }}</h1>
        </div>
    </div>
    {{#each records}}
    <div class="row d-flex align-items-center">
        <div class="col-1 ">
            <i class="{{this.categoryId.icon}} fa-2xl"></i>
        </div>
        <div class="col-5 py-1 my-0">
            <div class="col">{{this.name}}</div>
            <div class="col">{{this.date}}</div>
        </div>
        <div class="col-1 d-flex justify-content-end">{{this.amount}}</div>
        <div class="col-3">
            <a href="/records/{{this._id}}/edit" class="btn btn-secondary">Edit</a>
            <form action="/records/{{this._id}}?_method=DELETE" method="POST" style="display: inline">
            <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            
        </div>
    </div>
    {{/each}}
    <div class="col-8 mt-3 d-flex justify-content-center">
        <a href="/records/new" class="btn btn-primary">新增支出</a>
    </div>


</div>