<div class="container mt-3 col-6">
    <div class="col-7">
        <select class="form-select" aria-label="Default select example">
            <option selected>類別</option>
            {{#each categories}}
            <option>{{this}}</option>
            {{/each}}
        </select>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="mt-4">
            <h6>總金額：</h6>
        </div>
        <div class="col-2">
            <h1>{{ totalAmount }}</h1>
        </div>
    </div>
    {{#each record}}
    <div class="row d-flex align-items-center">
        <div class="col-1 ">
            <i class="{{this.icon}} fa-2xl"></i>
        </div>
        <div class="col-5 py-1 my-0">
            <div class="col">{{this.name}}</div>
            <div class="col">{{this.date}}</div>
        </div>
        <div class="col-1 d-flex justify-content-end">{{this.amount}}</div>
        <div class="col-3">
            <a href="" class="btn btn-secondary">Edit</a>
            <a href="" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {{/each}}
    <div class="col-8 mt-3 d-flex justify-content-center">
        <a href="./records/new" class="btn btn-primary">新增支出</a>
    </div>


</div>